body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
    cursor: default;
}

.container {
    max-width: 700px;
    margin: 20px auto;
    background-color: #ffd1dc; /* Fondo rosa pastel */
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #444;
}

form {
    margin-top: 25px;
}

fieldset {
    border: 1px solid #bbb;
    margin-bottom: 25px;
    padding: 25px;
    border-radius: 8px;
}

legend {
    font-size: 1.3em;
    font-weight: bold;
    color: #444;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

.input-group input {
    width: calc(100% - 24px);
    padding: 12px;
    border: 1px solid #bbb;
    border-radius: 8px;
}

button {
    padding: 12px 25px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e0e0e0;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

header h1 {
    font-size: 26px;
}

main {
    padding: 25px;
}

.hero {
    background-color: #f8f9fa;
    color: #fff;
    text-align: center;
    padding: 120px 0;
}

.hero-content {
    max-width: 650px;
    margin: 0 auto;
}

.hero h2 {
    font-size: 38px;
    margin-bottom: 25px;
    color: #000;
}

.hero p {
    font-size: 20px;
    margin-bottom: 35px;
    color: #000;
}

.hero a {
    display: inline-block;
    padding: 12px 25px;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.hero a:hover {
    background-color: #218838;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 25px 0;
}

/* Estilos para el modo oscuro */
body[data-modo="oscuro"] {
    background-color: #222;
    color: #ddd;
}

.container[data-modo="oscuro"] {
    background-color: rgba(50, 50, 50, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h1[data-modo="oscuro"] {
    color: #ddd;
}

.input-group input[data-modo="oscuro"],
input[type="checkbox"][data-modo="oscuro"] {
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ddd;
}

label[data-modo="oscuro"] {
    color: #ddd;
}
